@using MVCOnlineTicariOtomasyon.Models.Siniflar
@model List<FaturaKalem>
@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Fatura Kalemleri Sayfası</h2>
<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"></li>
</ol>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Açıklama</th>
        <th>Miktar</th>
        <th>Birim Fiyat</th>
        <th>Tutar</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Faturaid</td>
            <td>@p.Aciklama</td>
            <td>@p.Miktar</td>
            <td>@p.BirimFiyat</td>
            <td>@p.Tutar</td>
        </tr>
    }

</table>

<a href="/Fatura/YeniKalem/" class="btn btn-info">Yeni Kalem Girişi</a>
